* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #ebb605;
  --second-color: #4c241d;
  --text-color: #372f31;
  --text-secondary-color: #4c241d;
}

.body {
  margin: 0;
  padding: 0;
}

#yellow {
  position: absolute;
  top: 0;
  left: 40%;
  z-index: -10;
  user-select: none;
  pointer-events: none;
}

#falafel,
#firework,
#fish,
#food,
#food-bowl{
  position: absolute;
  user-select: none;
  pointer-events: none;
  width: 100px;
  height: 100px;
}

#falafel {
  top: 17%;
  left: 25%;
}

#firework {
 top: 70%;
 left: 90%;
}

#fish{
    top: 70%;
    left: 10%;
}

#food{
    bottom: 0%;
    left:0%;
}

#food-bowl{
    top: 35%;
    left: 5%;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 10%;
  margin: 0;
}

#logo {
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: bolder;
}

#logo span {
  color: var(--main-color);
  font-weight: bolder;
}

.button {
  height: 20%;
  display: flex;
  z-index: 100;
  column-gap: 50px;
  padding: 0;
  margin: 0 10px;
}

.button button {
  background-color: var(--second-color);
  padding: 5px 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;
}

main {
  width: 100%;
  height: 100vh;
  margin: 50px 0;
}

main h1 {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  font-size: 3.4rem;
  font-weight: bolder;
  color: var(--text-color);
  user-select: none;
}

main h1:first-child {
  font-weight: bold;
}

main img {
  display: block;
  user-select: none;
  pointer-events: none;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  justify-content: center;
  align-content: center;
}

#menu-header {
  font-size: 1.8rem;
  color: var(--text-color);
  padding-left: 5px;
  margin: 10px 20px;
  color: #372f31;
}

.menu-work {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

#menu-work {
  line-height: 20px;
  display: block;
}

#menu-work h1,
p {
  width: 250px;
  word-wrap: break-word;
  margin: 0 auto;
  color: var(--text-secondary-color);
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-image: url("../assets/img/yellow2.png");
  background-repeat: no-repeat;
  background-size: auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

form label {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 2px 0;
}
form input {
  margin: 0 auto;
  padding: 10px;
  background-color: #f4f4f4;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 10px 0;
  width: 200px;
}

form input::placeholder {
  color: #000000;
  font-size: 0.7rem;
}

#btn {
  width: 80px;
  margin: 10px auto;
  background-color: var(--second-color);
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#create-btn {
  margin: 10px auto;
  padding: 7px 5px;
  width: 200px;
  border: 1px #372f31 solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 550;
}

form small {
  color: var(--second-color);
  margin: 0 auto;
}

.side-text {
  width: 35%;
}

.side-text h2 {
  font-size: 1.4rem;
  color: var(--text-secondary-color);
  padding: 5px;
  width: 300px;
  margin: 50px 0 0;
}

.side-text img {
  width: 250px;
  height: 250px;
  position: relative;
}

#collab {
  font-size: 1.7rem;
  margin: 50px;
  color: #372f31;
}

.collaboration {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 20%;
}

.collab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 100%;
}

.collab img {
  user-select: none;
  pointer-events: none;
  width: 200px;
}

.collab-text h2 {
  font-family: "Doppio One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

.collab-text p {
  margin: 10px;
}

.collab button {
  padding: 5px 7px;
  background-color: #4c241d;
  color: white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin: 10px 0 0;
}
